Body{
    background-color: antiquewhite;
}
.container{
    display: flex;
    background-color: rgb(26, 26, 26);
}
nav ul li {
    padding: 10px 10px;
    margin: 10px 10px;
    list-style: none;

}
nav ul {
    display: flex;
    
}
nav ul li a {
    list-style: none;
    text-decoration: none;
    color:rgb(145, 220, 162);
    font-weight:bold;

}
nav ul li a:hover{
    background-color: rgb(248, 248, 248);
    border-radius: 6px;
}
.navbar{
    height: 60px;
    width: 65;
    
}
h1 , h2 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h2{
    text-decoration: underline;
}

.contact-info{
    padding: 20px;
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 1.6em;
    color: rgb(43, 117, 119);
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}
legend {
    font-weight: bold;
    text-align: center;
    text-decoration: double;
}
/*Contact page */
input[type='submit'] {
    font-size: 1.0em;
    padding: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
}
input:hover{
    background-color: rgb(224, 203, 175);
}
#address {
    padding: 4px;
    font-size: medium;
}

#email {
    padding: 4px;
    font-size: medium;
}