body{
    background-color: #4E5565;
}
nav ul li {
    padding: 10px 10px;
    margin: 10px 10px;
    list-style: none;
}

nav ul {
    display: sticky;
}

    background-color: #4E5565;

nav ul li a:hover{
    background-color: #4E5565;
    border-radius: 6px;
}

h1 , h2 {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

h2{
    text-decoration: underline;
}